<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Брак-возврат</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/defectlist.css">
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <table class="tables">
        <tr>
            <td>Номер п/п</td>
            <td>Заказ</td>
            <td>Приемка</td>
            <td>Дата приемки</td>
            <td>ЛМ</td>
            <td>ШК</td>
            <td>Наименование</td>
            <td>Кол-во</td>
            <td>Отдел</td>
            <td>Поставщик</td>
            <td>Категория</td>
        </tr>
    </table>
</body>
</html>